.modal {
    width: 350px;
    height: 200px;
    background-color: lightgreen;
    border: 2px solid rgb(252, 229, 229);
    border-radius: 5px;
    position: fixed;
    left: 40%;
    top: 10%;
}

.modalHidden {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #045827;
}
.navTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
}

.modalText {
    margin-top: 25px;
    font-size: 18px;
    color: rgb(7, 52, 252);
    text-align: center;
}

.modalButtonBlock {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.modalButton {
    background-color: #045827;
    color: white;
    border: none;
    padding: 10px 25px;
    width: 100px;
    cursor: pointer;
}

.secondModalButton {
    background-color: #0784eb;
    color: white;
    border: none;
    padding: 10px 25px;
    width: 100px;
    cursor: pointer;
}

.navClose {
    font-size: 22px;
    color: white;
    cursor: pointer;
}
